<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toeicexamapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToeicExamApplication" >
        <activity
            android:name=".vocabulary.activity_vocabulary_words"
            android:exported="false"
            android:label="Words"
            android:parentActivityName=".vocabulary.VocabularyActivity"/>
        <activity
            android:name=".reading.activity_reading_questions"
            android:label="Question"
            android:exported="false"
            android:parentActivityName=".reading.ReadingActivity"/>
        <activity
            android:name=".reading.activity_reading_answers"
            android:label="Answers"
            android:exported="false"
            android:parentActivityName=".reading.activity_reading_questions"/>
        <activity
            android:name=".account.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".account.MyProfileActivity"
            android:exported="false"
            android:label="@string/menu_my_profile" />
        <activity
            android:name=".reading.ReadingActivity"
            android:exported="false"
            android:label="Reading"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".grammar.GrammarActivity"
            android:exported="false"
            android:label="@string/menu_grammar" />
        <activity
            android:name=".listening.ListeningActivity"
            android:exported="false"
            android:label="Listening" />
        <activity
            android:name=".vocabulary.VocabularyActivity"
            android:exported="false"
            android:label="Vocabulary"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".account.LoginActivity"
            android:label="@string/login"
            android:theme="@style/Theme.ToeicExamApplication.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/home"
            android:theme="@style/Theme.ToeicExamApplication.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>